<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <div class="container">
        <header>
            <p id="logo">Logo</p>
            <div class="options">
                <a href="">Serviços</a>
                <a href="">Sobre</a>
                <a href="">Contato</a>
                <a href="">Vagas</a>
                <a href="">Franquias</a>
                <form action="">
                    <input type="text" name="" id="" placeholder="Pesquise">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
                
                <div class="login">
                    <i class="fa-solid fa-user"></i>
                    <p>Login</p>
                </div>
                <i id="cart" class="fa-solid fa-cart-shopping"></i>
            </div>
        </header>
        <div class="swiper">
            <div class="swiper-wrapper">   
              <div class="swiper-slide">
                1
              </div>
              <div class="swiper-slide">
                2
              </div>
              <div class="swiper-slide">
                3
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>        
        </div>
        <div class="companyinformations">
            <div class="companyinformation">
                <p style="font-size: 3.6em; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.505);">+2000</p>
                <div class="information">
                    <p>CLIENTES</p>
                    <p>ATENDIDOS</p>
                </div>
            </div>
            <div class="companyinformation">
                <p style="font-size: 3.6em; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.505);">+20</p>
                <div class="information">
                    <p>ANOS DE</p>
                    <p>MERCADO</p>
                </div>
            </div>
        </div>
        <div class="swiper" id="events">
            <div class="swiper-wrapper">   
              <div class="swiper-slide">
                1
              </div>
              <div class="swiper-slide">
                2
              </div>
              <div class="swiper-slide">
                3
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div> 
        <p class="tópico">PRODUTOS</p>
        <div class="swiperdeobras" id="obras">
            <div class="swiper-wrapper">   
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Limpeza Pós Obra</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promoções">
            <div class="maiorpromoção">

            </div>
            <div class="menorpromoção">
                <div id="menorpromoção">

                </div>
                <div id="menorpromoção">

                </div>
            </div>
        </div>
        <p class="tópico" style="padding: 50px;">SEGMENTOS</p>
        <div class="segmentos">
            <div class="segmento">
                <p>Shopping</p>
            </div>
            <div class="segmento">
                <p>Logística</p>
            </div>
            <div class="segmento">
                <p>Saúde</p>
            </div>
            <div class="segmento">
                <p>Programação</p>
            </div>
            <div class="segmento">
                <p>Construção</p>
            </div>
            <div class="segmento">
                <p>Aeroporto</p>
            </div>
            <div class="segmento">
                <p>Energia</p>
            </div>
        </div>
        <div class="contratosadicionais">
            <div class="contratosmenores">
                <div class="areadecontratosmenores">
                    <div class="contratomenor">

                    </div>
                    <div class="contratomenor">

                    </div>
                </div>
                <div class="contratomenorlargo">

                </div>
            </div>
            <div class="contratomaior">

            </div>
        </div>
        <p class="tópico" style="padding: 50px; padding-bottom: 10px;">PRODUTOS</p>
        <div class="swiperdeobras" id="obras">
            <div class="swiper-wrapper">   
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Limpeza Pós Obra</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anúncio">

        </div>
        <div class="assinaturas">
            <div class="assinatura">
                <div>
                    <div class="imagemdaassinatura">
    
                    </div>
                    
                </div>
                <i id="simbolodeassinatura"  class="fa-solid fa-soap"></i>
                <p id="titulodaassinatura" >MEIA DIÁRIA</p>
                <p id="descricaodaassinatura">1 FAXINEIRA POR 4 HORAS</p>
                <div class="areadepreçodaassinatura">
                    <div class="preçodaassinatura">
                        <s>167$</s>
                        <p style="font-size: 1em;">R$<span  style="font-size: 3.5em;">99</span></p>
                    </div>
                    <p style="color: #07396B; font-weight:600;">Á vista no PIX</p>
                    <p style="color: #737373; font-weight: 550;">ou 12x de 13.92</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Direito a 1 meia diária (4h)</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Serviços de limpeza completo</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Agendamento de Segunda a Sexta</p>
                            
                        </div>   
                    </div>
                  
                </div>
                <a href="" class="botãodeassinatura">CONTRATE AGORA</a>
            </div>
            <div class="assinatura">
                <div>
                    <div class="imagemdaassinatura">
    
                    </div>
                    
                </div>
                <i id="simbolodeassinatura"  class="fa-solid fa-soap"></i>
                <p id="titulodaassinatura" >DIÁRIA</p>
                <p id="descricaodaassinatura">1 FAXINEIRA POR 8 HORAS</p>
                <div class="areadepreçodaassinatura">
                    <div class="preçodaassinatura">
                        <s>167$</s>
                        <p style="font-size: 1em;">R$<span  style="font-size: 3.5em;">347</span></p>
                    </div>
                    <p style="color: #07396B; font-weight:600;">Á vista no PIX</p>
                    <p style="color: #737373; font-weight: 550;">ou 12x de 28.92</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Direito a 1 diária (8h)</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Serviços de limpeza completo</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Agendamento de Segunda a Sexta</p>
                            
                        </div>   
                    </div>
                  
                </div>
                <a href="" class="botãodeassinatura">CONTRATE AGORA</a>
            </div>
            <div class="assinatura">
                <div>
                    <div class="imagemdaassinatura">
    
                    </div>
                    
                </div>
                <i id="simbolodeassinatura"  class="fa-solid fa-soap"></i>
                <p id="titulodaassinatura" >QUINZENAL</p>
                <p id="descricaodaassinatura">1 FAXINEIRA A CADA 15 DIAS</p>
                <div class="areadepreçodaassinatura">
                    <div class="preçodaassinatura">
                        <s>398$</s>
                        <p style="font-size: 1em;">R$<span  style="font-size: 3.5em;">378</span></p>
                    </div>
                    <p style="color: #07396B; font-weight:600;">Á vista no PIX</p>
                    <p style="color: #737373; font-weight: 550;">ou 12x de 33.17</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Uma faxina a cada 15 dias, 8 horas por dia</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Serviços de limpeza completo</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Agendamento de Segunda a Sexta</p>
                            
                        </div>   
                    </div>
                  
                </div>
                <a href="" class="botãodeassinatura">CONTRATE AGORA</a>
            </div>
            <div class="assinatura">
                <div>
                    <div class="imagemdaassinatura">
    
                    </div>
                </div>
                <i id="simbolodeassinatura"  class="fa-solid fa-soap"></i>
                <p id="titulodaassinatura" >SEMANAL</p>
                <p id="descricaodaassinatura">1 FAXINEIRA POR 4 HORAS</p>
                <div class="areadepreçodaassinatura">
                    <div class="preçodaassinatura">
                        <s>796$</s>
                        <p style="font-size: 1em;">R$<span  style="font-size: 3.5em;">756</span></p>
                    </div>
                    <p style="color: #07396B; font-weight:600;">Á vista no PIX</p>
                    <p style="color: #737373; font-weight: 550;">ou 12x de 66.33</p>
                </div>
                <div class="beneficios">
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Uma faxina por semana, 8 horas por dia</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Serviços de limpeza completo</p>
                            
                        </div>   
                    </div>
                    <div class="beneficio">
                        <i class="fa-solid fa-check"></i>
                        <div class="descriçãodobeneficio">
                            <p>Agendamento de Segunda a Sexta</p>
                            
                        </div>   
                    </div>
                  
                </div>
                <a href="" class="botãodeassinatura">CONTRATE AGORA</a>
            </div>
        </div>
        <div class="swiperdeobras" id="obras">
            <div class="swiper-wrapper">   
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Limpeza Pós Obra</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anúncio">

        </div>
        <div class="segmentos">
            <div class="segmento">
                <p>Shopping</p>
            </div>
            <div class="segmento">
                <p>Logística</p>
            </div>
            <div class="segmento">
                <p>Saúde</p>
            </div>
            <div class="segmento">
                <p>Construção</p>
            </div>
            <div class="segmento">
                <p>Aeroporto</p>
            </div>
            <div class="segmento">
                <p>Energia</p>
            </div>
        </div>
        <div class="swiperdeobras" id="obras">
            <div class="swiper-wrapper">   
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Limpeza Pós Obra</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="swiper-slide-obra">
                    <div class="bordaswiperslide">
                        <div class="imagemdaobra">
                        </div>
                        <p id="titulodocontrato">Título do Serviço</p>
                        <div class="preçodocontrato">
                            <p id="pix">R$505 no Pix</p>
                            <p id="cartão">ou R$542 em até 12x</p>
                        </div>
                        <div class="botãoparacontratar">
                            <p>Contratar</p>
                            <i id="cart" class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anúnciomaior">

        </div>
        <div class="orçamento">
            <p style="font-size: 1.6em;">SOLICITE UM <span style="font-weight: 600;">ORÇAMENTO</span></p>
            <p style="color: #737373; padding-bottom: 50px;">Entre em contato e garanta mão de obra para qualquer área do seu negócio</p>
            <form action="">
                <div>
                    <p>Nome Completo</p>
                    <input type="text" name="" id="" placeholder="Nome Completo"> 
                </div>
                <div>
                    <p>CNPJ</p>
                    <input type="text" name="" id="" placeholder="XX.XXX.XXX/XXXX-XX">
                </div>
                <div>
                    <p>Telefone</p>
                    <input type="tel" placeholder="00 0000-0000">
                </div>
                <div>
                    <p>Email</p>
                    <input type="email" placeholder="Seu e-mail">
                </div>
                <div>
                    <p>Mensagem</p>
                    <input type="text" placeholder="Ex: Preciso de quatro profissionais de...">
                </div>
                <button>
                    Enviar
                </button>
            </form>
        </div>
        <div class="marca">
            <p>© Viktor Amaral 2024 | All Rights Reserved</p>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>